#include "Information.h"

#if defined(__MINGW64__) || defined(__MINGW32__)
	// MinGW-w64, MinGW
	#if defined(__has_include) && __has_include(<winres.h>)
		#include <winres.h>
	#else
		#include <afxres.h>
		#include <winresrc.h>
	#endif
#else
	// MSVC, Windows SDK
	#include <winres.h>
#endif

IDI_ICON1               ICON                    APP_ICON

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT

VS_VERSION_INFO VERSIONINFO
    FILEVERSION VERSION_RESOURCE
    PRODUCTVERSION VERSION_RESOURCE
    FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
    FILEFLAGS 0x1L
#else
    FILEFLAGS 0x0L
#endif
    FILEOS 0x4L
    FILETYPE 0x1L
    FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", APP_ORGANIZATION
            VALUE "FileDescription", APP_DESCRIPTION
            VALUE "FileVersion", VERSION_RESOURCE_STR
            VALUE "LegalCopyright", APP_COPYRIGHT
            VALUE "ProductName", APP_NAME
            VALUE "ProductVersion", VERSION_RESOURCE_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", PRODUCT_LANGUAGE, PRODUCT_CHARSET
    END
END